@media (max-width: 599px) {
  .box-sizing {
    display: none;
    
  }

  .span,
  .nameContact,
  .nameContact,
  .text_DueDate,
  .inputDate,
  .titlePrio,
  .inputDate,
  .textCategory,
  .categoryFrame74,
  .comment,
  .textSubtasks,
  .textAddSubtasks,
  .description,
  .asignedTo {
    font-size: 16px;
  }

  .description_v1,
  .frame207,
  .frame17,
  .asignedTo_v1,
  .underListContact,
  .contactAvatar,
  .dueDate,
  .frame211,
  .priority,
  .inputLeft_addTask,
  .frame203 {
    width: 300px;
  }

  @media (min-height: 1100px) {
    .textContainer_addTask {
      font-size: 47px;
      margin-top: -300px;
      margin-left: -235px;
    }

    .inputLeft_addTask {
      margin-top: -200px;
    }
  }

  .contentTask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll !important;
  }

  .textContainer_addTask {
    font-size: 47px;
    margin-left: 12px;
    width: 320px;
  }

  .group66_addTask {
    margin-left: -304px;
    flex-direction: column;
    justify-content: center;
    width: 0;
  }

  .vector4 {
    display: none;
  }
 
  .inputRight_addTask {
    margin-top: 50px;
    width: 300px;
  }

  .title_v1 {
    width: 10px;
  }

  .title {
    font-size: 16px;
    width: 300px;
  }

  .title_frame14 {
    padding: 10px 21px;
    gap: 10px;
    width: 255px;
  }

  .text_enterTitle {
    font-size: 16px;
    width: 255px;
  }

  .text_enterDescription {
    height: 88px;
    padding: 18px 21px;
    font-size: 16px;
    width: 300px;
  }

  .recursor {
    display: none;
  }

  .categoryFrame74 {
    width: 300px;
    padding: 10px 21px;
    width: 255px;
  }
  .categoryFrame_74 {
    width: 300px;
    padding: 10px 21px;
    width: 255px;
  }

  .list {
    height: 0px;
  }

  .searchContacts {
    width: 250px;
    font-size: 16px;
  }

  .underListContact {
    position: relative;
    height: 76px;
    width: 294px;
  }

  .contactList {
    height: 40px;
    width: 253px;
  }

  .custom-checkbox {
    margin-left: 100px;
    margin-top: 5px;
    width: 210px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
  }

  .frame28 {
    width: 300px;
  }

  .priority {
    width: 100%;
    gap: 12px;
  }

  .priorityUrgent,
  .priorityMedium,
  .priorityLow {
    width: 80px;
    padding: 13px 8px;
    gap: 8px;
  }

  .textUrgent {
    font-size: 16px;
  }

  .textMedium {
    font-size: 15px;
  }

  .textLow {
    font-size: 16px;
  }

  .category {
    width: 100%;
    position: relative;
    font-size: 16px;
  }

  .underlist {
    position: relative;
  }

  .options {
    width: 265px;
  }

  .subtasks {
    width: 300px;
  }

  .subtasksFrame14 {
    padding: 10px 21px;
  }

  .subtaskItem {
    width: 265px;
  }

  .addTasksFooter {
    margin-bottom: 90px;
    margin-left: 0px;
    width: 300px;
  }

  .comment {
    display: flex;
    margin-top: 0px;
    text-wrap: wrap;
  }

  .secondary {
    display: none;
  }

  .primary {
    gap: 4px;
  }

  .textCreateTask {
    font-size: 21px;
    gap: 4px;
  }

  .task_succes {
    margin-left: 0%;
    margin-bottom: 400px;
  }

  .task_succes_container {
    width: 256px;
  }
  .custom-checkbox-board label:before {
    left: 140px;
  }

  .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 140px;
  }

  .contactList:hover .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 140px;
}
}

@media (min-width: 600px) and (max-width: 799px) {
  @media (min-height: 1100px) {
    .textContainer_addTask {
      font-size: 47px;
      margin-top: -200px !important;
      margin-left: -235px;
    }

    .inputLeft_addTask {
      margin-top: -100px;
    }
  }

  .box-sizing {
    display: none;
  }

  .header {
    position: relative;
  }

  .span,
  .description,
  .asignedTo,
  .nameContact,
  .nameContact,
  .titlePrio,
  .textCategory,
  .categoryFrame74,
  .subtasks,
  .textSubtasks,
  .textAddSubtasks {
    font-size: 20px;
  }

  .title_v1,
  .frame203,
  .description_v1,
  .frame207,
  .frame17,
  .asignedTo_v1,
  .underListContact,
  .frame211,
  .priority,
  .inputLeft_addTask,
  .contactAvatar,
  .priority,
  .dueDate {
    width: 518px;
  }

  .contentTask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll !important;
    height: calc(100vh - 176px);
  }

  .textContainer_addTask {
    font-size: 47px;
    margin-top: 120px;
    margin-left: -235px;
  }

  .group66_addTask {
    margin-left: 0;
    max-width: 560px;
    gap: 8px;
    align-items: center;
    flex-direction: column;
  }

  .vector4 {
    display: none;
  }

  .inputRight_addTask {
    margin-top: 44px;
    width: 518px;
  }

  .content_addTask {
    margin-top: 356px;
  }

  .title {
    font-size: 20px;
    width: 530px;
  }

  .title_frame14 {
    padding: 10px 21px;
    gap: 10px;
  }

  .text_enterTitle {
    font-size: 20px;
  }

  .text_enterDescription {
    height: 88px;
    padding: 18px 21px;
    font-size: 20px;
  }

  .recursor {
    display: none;
  }

  .categoryFrame74 {
    width: 475px;
    padding: 10px 21px;
  }

  .categoryFrame_74 {
    width: 475px;
    padding: 10px 21px;
  }

  .taskCategory {
    width: 475px;
  }

  .underList,
  .list,
  .listContact,
  .contactList {
    position: relative;
  }

  .searchContacts {
    width: 300px;
    font-size: 20px;
  }
  .circle {
    height: 36px;
    width: 36px;
  }

  .custom-checkbox {
    margin-top: 5px;
    width: 210px;
  }

  .custom-checkbox label:before {
    margin-left: 75px;
  }

  .text_DueDate {
    font-size: 20px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 24px;
    margin-left: 280px;
  }

  .inputDate {
    font-size: 20px;
    width: 480px;
  }

  .priorityUrgent,
  .priorityMedium,
  .priorityLow {
    padding: 13px 8px;
    gap: 18px;
  }

  .textUrgent {
    font-size: 20px;
    width: 60px;
  }

  .textMedium {
    font-size: 20px;
    width: 72px;
  }

  .textLow {
    font-size: 20px;
    width: 34px;
  }

  .category {
    width: 100%;
  }

  .underList {
    position: relative;
  }

  .options,
  .subtaskItem {
    width: 485px;
  }

  .subtasks {
    width: 100%;
  }

  .subtasksFrame14 {
    padding: 10px 21px;
  }

  .addTasksFooter {
    margin-top: 50px;
    margin-left: 20px;
    width: 520px;
  }

  .primary {
    gap: 4px;
  }

  .textCreateTask {
    font-size: 18px;
    gap: 4px;
  }

  .task_succes {
    margin-left: 0%;
  }

  .custom-checkbox-board label:before {
    left: 400px;
  }

  .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 400px;
  }

  .contactList:hover .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 400px;
}
}

@media (min-width: 800px) and (max-width: 999px) {
  .box-sizing {
    display: none;
  }

  .header {
    position: relative;
  }

  .title_v1,
  .frame203,
  .description_v1,
  .frame207,
  .frame17,
  .asignedTo_v1,
  .underListContact,
  .frame211,
  .priority.inputLeft_addTask,
  .contactAvatar,
  .dueDate {
    width: 710px;
  }

  .contentTask {
    overflow: scroll !important;
    height: calc(100vh - 176px);
  }

  .textContainer_addTask {
    font-size: 47px;
    margin-left: 74px;
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
  }

  .group66_addTask {
    margin-left: 50px;
    max-width: 760px;
    margin-top: 15px;
    gap: 8px;
    align-items: center;
    flex-direction: column;
  }

  .vector4 {
    display: none;
  }

  .inputRight_addTask {
    margin-top: 44px;
    width: 710px;
  }

  .inputLeft_addTask {
    margin-top: 44px;
    width: 710px;
  }

  .title {
    width: 560px;
  }

  .title_frame14 {
    padding: 10px 21px;
    gap: 10px;
  }

  .text_enterTitle {
    width: 310px;
  }

  .text_enterDescription {
    height: 88px;
    padding: 18px 21px;
  }

  .recursor {
    display: none;
  }

  .categoryFrame74 {
    width: 668px;
    padding: 10px 21px;
  }

  .categoryFrame_74 {
    width: 668px;
    padding: 10px 21px;
  }
  .taskCategory {
    width: 668px;
  }

  .searchContacts {
    width: 300x;
  }

  .underList,
  .list,
  .listContact,
  .contactList {
    position: relative;
  }

  .custom-checkbox {
    width: 100%;
    gap: 550px;
  }

  .nameContact {
    margin-left: 5px;
  }

  .circle {
    height: 36px;
    width: 36px;
  }

  .custom-checkbox label:before {
    margin-left: 50px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    margin-left: 380px;
  }

  .inputDate {
    width: 760px;
  }

  .priority {
    width: 710px;
  }

  .priorityUrgent,
  .priorityMedium,
  .priorityLow {
    gap: 18px;
  }

  .textUrgent {
    width: 60px;
  }

  .textMedium {
    width: 72px;
  }

  .textLow {
    width: 34px;
  }

  .category {
    width: 306px;
    position: relative;
  }

  .options,
  .subtaskItem {
    width: 680px;
  }

  .subtasksFrame14 {
    width: 666px;
    padding: 10px 21px;
  }

  .addTasksFooter {
    margin-top: 50px;
    margin-left: 74px;
    width: 708px;
  }

  .task-succes {
    margin-right: 50px;
  }
  .custom-checkbox-board label:before {
    left: 585px;
  }

  .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 585px;
  }

  .contactList:hover .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 585px;
}
}

@media (min-width: 1000px) and (max-width: 1249px) {
  .box-sizingResponsiv {
    display: none;
  }

  .contentTask {
    overflow: scroll !important;
    height: calc(100vh - 176px);
    padding-top: 52px;
  }

  .recursor {
    display: none;
  }

  .textContainer_addTask {
    margin-top: 0px;
    margin-left: 290px;
  }

  .group66_addTask {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    flex-direction: column;
  }

  .inputLeft_addTask {
    display: flex;
    height: 422px;
    width: 80%;
  }

  .title_v1 {
    width: 780px;
  }

  .frame203 {
    width: 780px;
  }

  .title_frame14 {
    width: 600px;
  }

  .description_v1 {
    width: 600px;
  }

  .frame207 {
    width: 600px;
  }

  .frame17 {
    width: 644px;
    position: inherit;
  }

  .asignedTo_v1 {
    width: 780px;
  }

  .custom-checkbox label:before {
    margin-right: 320px;
  }

  .contactList:hover .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 520px;
}

  .contactAvatar {
    margin-top: 2px;
  }

  .circle {
    height: 36px;
    width: 36px;
  }

  .nameContact {
    margin-left: 5px;
  }

  .underListContact {
    width: 640px;
  }

  .categoryFrame74 {
    width: 608px;
    z-index: auto;
    position: inherit;
  }

  .categoryFrame_74 {
    width: 608px;
    z-index: auto;
    position: inherit;
  }

  .taskCategory {
    width: 748px;
  }

  .vector4 {
    display: none;
  }

  .inputRight_addTask {
    width: 80%;
    margin-top: 25px;
  }

  .dueDate,
  .frame211 {
    width: 640px;
  }
  .inputDate {
    width: 780px;
  }

  .frame28 {
    width: 780px;
  }

  .priority {
    width: 100%;
  }

  .list {
    position: relative;
  }

  .options {
    width: 750px;
  }

  .subtasks,
  .allSubtasks {
    width: 82%;
  }

  .subtaskItem {
    width: 115% !important;
  }

  .addTasksFooter {
    margin-left: 300px;
    width: 640px;
  }

  .comment {
    display: flex;
    width: 250px;
  }
  .task_succes {
    margin-bottom: 700px;
  }

  .custom-checkbox-board label:before {
    left: 520px;
  }

  .custom-checkbox-board input[type="checkbox"]:checked + label:before {
    left: 520px;
  }
}

@media (min-width: 1250px) and (max-width: 1399px) {
  .box-sizingResponsiv {
    display: none;
  }

  .header {
    position: relative;
  }

  .recursor {
    display: none;
  }

  .textContainer_addTask {
    margin-left: 260px;
  }

  .group66_addTask {
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 235px;
  }

  .frame17 {
    position: inherit;
  }

  .categoryFrame74 {
    width: 405px;
    z-index: auto;
    position: inherit;
  }

  .inputLeft_addTask {
    display: flex;
    align-items: center;
    height: 422px;
  }

  .list {
    position: relative;
  }

  .addTasksFooter {
    margin-left: 250px;
    width: 77%;
  }

  .comment {
    display: flex;
    width: 250px;
    margin-left: 40px;
  }

  .nameContact {
    margin-left: 5px;
  }

  .underListContact {
    width: 440px;
  }

  .circle {
    height: 36px;
    width: 36px;
  }
}

@media (min-width: 1400px) {
  .box-sizingResponsiv {
    display: none;
  }

  .textContainer_addTask {
    margin-top: 40px;
  }
}
